.dropdown-info-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.dropdown-info:hover .dropdown-info-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-info-btn {
    position: relative;
    color: red;
}