/* src/assets/css/Register.style.css */
.register-form {
  width: 100%;
}

.register-form h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.register-form .form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.register-form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: white;
}

.register-form .form-group input,
.register-form .form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: transparent !important;
  background: none;
  color: white;
}

.register-form .form-group input::placeholder,
.register-form .form-group select::placeholder {
  color: #ffffff;
  opacity: 0.7;
  font-style: italic;
}

.register-form .register-button {
  width: 100%;
  padding: 0.75rem;
  background: rgba(64, 104, 178, 1);
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  box-sizing: border-box;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
}

.register-form .register-button:hover {
  background: rgba(30, 76, 161, 1);
}

.register-link {
  margin-top: 1rem;
  text-align: center;
}

.register-link a {
  color: rgba(30, 76, 161, 1);
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: rgba(215, 33, 52, 1);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.error-border {
  border-color: rgba(215, 33, 52, 1);
}

.register-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.social-login {
  text-align: center;
  margin-bottom: 1rem;
}

.social-login p {
  margin-bottom: 0.5rem;
}

.social-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.social-button.facebook {
  background: #3b5998;
}

.social-button.google {
  background: #db4437;
}

.social-button:hover {
  opacity: 0.8;
}

.gender-group {
  display: flex;
  padding-top: 5px;
  align-items: center;
  gap: 1rem; /* Add spacing between the radio buttons */
}

.gender-group .gender-label {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px !important;
}

.form-row {
  display: flex;
  gap: 1rem;
}
.form-row .form-group {
  flex: 1;
}
.register-form .form-group input,
.register-form .form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ffffff;
  border-radius: 16px;
  background-color: transparent !important;
  background: none;
  outline: none;
  color: white;
}

.register-form .form-group input:-webkit-autofill,
.register-form .form-group input:-webkit-autofill:hover,
.register-form .form-group input:-webkit-autofill:focus,
.register-form .form-group input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
}
