/* src/assets/css/Admin/AdminDashboardLayout.style.css */
.admin-dashboard-layout {
  display: flex;
  height: 100vh;
  transition: margin-left 0.3s ease;
  flex-direction: row;
}

.content-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  transition: margin-left 0.3s ease;
}

.main-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.main-content {
  display: flex;
  flex: 1;
}

.main-layout-content {
  display: flex;
  flex-direction: row;
}

.main-layout-left {
  flex: 2;
  overflow-y: auto;
}

.main-layout-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.current-page {
  display: flex;
  margin-left: 50px;
}

.user-account-toolbar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
