.admin-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.login-tittle {
  margin-bottom: 8px;
  color: white;
}
.login-sub-title {
  margin-bottom: 1rem;
}
.admin-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.admin-logo {
  width: 100px;
  margin-bottom: 1rem;
}

.admin-form {
  width: 100%;
}

.admin-form-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.admin-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.admin-form-container label {
  font-weight: bold;
  align-self: flex-start;
  color: white;
}
.admin-form-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 350px;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-sizing: border-box;
}
.admin-form-group input {
  width: 270px;
  background: none;
  border: none;
  outline: none;
  color: white;
}
.admin-form-group i {
  color: white;
}
.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 0.875rem;
}

.toggle-password:hover {
  text-decoration: underline;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
.remember-me label {
  color: white;
}
.remember-me input {
  margin-right: 5px;
}
.checkbox-remember-me {
  width: 12px;
  height: 12px;
  accent-color: #000000; /* Change the color of the checkbox to black */
  cursor: pointer;
}
.admin-login-button {
  width: 100%;
  padding: 0.75rem;
  background: rgba(64, 104, 178, 1);
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  box-sizing: border-box;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
}

.admin-login-button:hover {
  background: rgba(30, 76, 161, 1);
}

.admin-register-link {
  margin-top: 1rem;
}

.admin-register-link a {
  color: #ff7e5f;
  text-decoration: none;
}

.admin-register-link a:hover {
  text-decoration: underline;
}

.admin-error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
