/* src/assets/css/Admin/AdminDashboard.style.css */
.admin-dashboard-header {
  text-align: center;
  margin-bottom: 2rem;
}

.admin-dashboard-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.admin-dashboard-charts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.admin-dashboard-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.admin-card {
  flex: 1;
  min-width: 300px;
  padding: 1.5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-card h3 {
  margin-bottom: 1rem;
  color: #333;
}

.title-card {
  color: #666;
}
.data-card{
  font-weight: bold;
  font-size: 30px;
}
@media (max-width: 768px) {
  .admin-dashboard-content,
  .admin-dashboard-charts,
  .admin-dashboard-lists {
    flex-direction: column;
  }
}

/* Add dark mode styles */
body.dark-mode .admin-card {
  background: #333;
  color: #fff;
}

body.dark-mode .admin-card h3 {
  color: #fff;
}

body.dark-mode .admin-card p {
  color: #ccc;
}