/* src/assets/css/Admin/ListOfAdmin.style.css */
.admin-content {
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-list-title {
  padding-bottom: 10px;
}

.admin-search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.admin-search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.admin-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: black;
  margin-right: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.admin-search i {
  color: white;
}

.admin-search-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 16px;
}

.admin-search-input:focus {
  outline: none;
}

.filter-add-admin {
  display: flex;
  gap: 1rem;
}

.filter-add-admin .filter-button {
  padding: 0.75rem 1.5rem;
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.filter-button:hover {
  background: #0056b3;
}

.add-admin-button {
  padding: 0.75rem 1.5rem;
  background: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.add-admin-button:hover {
  background: #0056b3;
}

.status-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.status-button {
  padding: 0.5rem 1rem;
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.status-button.active {
  background: #007bff;
  color: white;
}

.status-button:hover {
  background: #ddd;
}

.success-message {
  color: green;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: #007bff;
}